{% extends 'base.html' %}
{% block content %}

<div class="add-wrapper">
    <h1>Edit destination</h1>

    <form action="/countries/{{ country.id }}" method="POST">
        <div>
            <label for="country_name">Country:</label>
            <input type="text" id="country_name" name="country_name" value="{{ country.country_name }}" required>
        </div>



        <div>
            <label for="visited">Visited?</label>
            <select id="visited" name="visited">
                <option value="True">Visited</option>
                <option value="False">Not Visited</option>
            </select>
        </div>

        <button id="submit" type="submit">Update Country</button>
    </form>
</div>

{% endblock %}