{% extends 'base.html' %}
{% block content %}

<div class="country-wrapper">

{% for country in all_countries %}
    <div class="countries-cities">
        <div class="content">
            <i class="fa-solid fa-location-dot fa-2x" style="color: #f08080" aria-hidden="true"></i>
            <h1>{{ country.country_name }}</h1>
            <p><b>Cities to visit...</b></p>
            <ol>
                {% for city in all_cities %}
                {% if city.country.id == country.id%}
                    <li class="list-of-cities" >{{ city.city_name }}</li>
                {% endif %}
                {% endfor %}
            </ol>

            <hr>
            {% if country.visited %}
            <p><b>Visited?</b><span style="font-size: 1.2em;"><i class="fa-solid fa-square-check" aria-hidden="true"></i></span>
                {% else: %}
                <p><b>Visited?</b><span style="font-size: 1.2em;"><i class="fa-solid fa-xmark" aria-hidden="true"></i></span>
            {% endif %}
            <hr>
                <div class="buttons">
                    <form class="view-more" action="/countries/{{ country.id }}">
                        <button class="view-button">VIEW</button>
                    </form>

                    <form class="edit-form" action="/countries/{{ country.id }}/edit">
                        <button class="edit-button">EDIT</button>
                    </form>
                    <form class="delete-form" action="/countries/{{ country.id }}/delete" method="POST">
                        <button class="trash-button">DELETE</button>
                    </form>
                </div>
        </div>
    </div>

{% endfor %}
</div> 
{% endblock content %}