{% extends 'base.html' %}
{% block content %}

{% for country in all_countries %}

    <div class="country">
        <div class="content">
            <i class="fa fa-thumb-tack fa-2x" aria-hidden="true"></i>
            <h1>{{ country.country_name }}</h1>
            <p>try to display list of cities and have edit and delete option</p>
            <ul>
                {% for city in cities %}
                    <li class="list-of-cities" >{{ city.city_name }}</li>
                {% endfor %}
            </ul>

            {% if country.visited %}
            <p><i>Visited</i></p>
                {% else: %}
                <p><i>Still to visit</i></p>
                
            {% endif %}

                <div class="buttons">
                    <form class="view-more" action="/countries/{{ country.id }}">
                        <button class="view-button">VIEW</button>
                    </form>
                    <form class="edit-form" action="/countries/{{ country.id }}/edit">
                        <button class="edit-button">EDIT</button>
                    </form>
                    <form class="delete-form" action="/countries/{{ country.id }}/delete" method="POST">
                        <button class="trash-button">DELETE</button>
                    </form>
                </div>
            </div>
        </div>

{% endfor %}
{% endblock content %}