{% extends 'base.html' %}
{% block content %}
    
<section>
    <h2>{{ country.country_name }}</h2>
    <hr>

    <div class="country-details">
        {# <p>
            list of city names
        </p> #}
        <div class="buttons">
            <form class="edit-form" action="/countries/{{ country.id }}/edit">
                <button class="edit-button">EDIT</button>
            </form>
            <form class="delete-form" action="/countries/{{ country.id }}/delete" method="POST">
                <button class="trash-button">DELETE</button>
            </form>
        </div>
    </div>

</section>

{% endblock %}


