{% extends 'base.html' %}
{% block content %}
    
<div class="country">
    <div class="content">

    <h2>{{ country.country_name }}</h2>
    <hr>

{# !not displaying list #}
    <ul>
        {% for city in cities  %}
        <li>{{city.city_name}}</li>
        {% endfor %}
    </ul>
    <p>show list of cities here</p>
    <hr>
    <p>add link to cities / edit and delete buttons</p>
    

        <div class="buttons">
            <form class="edit-form" action="/countries/{{ country.id }}/edit">
                <button class="edit-button">EDIT</button>
            </form>
            <form class="delete-form" action="/countries/{{ country.id }}/delete" method="POST">
                <button class="trash-button">DELETE</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}


