{% extends 'base.html' %}
{% block content %}
    
<div class="country-banner">
</div>

<div class="add-wrapper-cities">
    <h1 class="country-name-wrapper">{{ country.country_name }}</h1>

    <div class="city-wrapper">
        {% for city in all_cities %}
        {% if city.country.id == country.id  %} 
        <div class="cities">
            <div class="content">
                <i class="fa-solid fa-location-dot fa-2x" style="color: #f08080;"></i>
    
        {% if city.country.id == country.id %} 
                <h2>{{ city.city_name }}</h3>
                

            {% if city.visited %}
            <p><b>Visited?</b><span style="font-size: 1.2em;"><i class="fa-solid fa-square-check" aria-hidden="true"></i></span>
                {% else: %}
                <p><b>Visited?</b><span style="font-size: 1.2em;"><i class="fa-solid fa-xmark" aria-hidden="true"></i></span>        
            {% endif %}


            <div class="buttons">
                <form class="edit-form" action="/cities/{{ city.id }}/edit">
                    <button class="edit-button">EDIT</button>
                </form>
                
                <form class="delete-form" action="/cities/{{ city.id }}/delete" method="POST">
                    <button class="trash-button">DELETE</button>
                </form>
            </div>
            </div>
        </div> 


        {% endif %}
        {% endif %}
    {% endfor %}
    </div>   
</div>
{% endblock content %}


