/* ?POTENTIAL GRID STYLING */
/* .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
  }
  
  .countries-cities {
    border: 1px solid #565656;
    border-radius: 10px;
    min-height: 68px;
    padding: 20px;
    text-align: center;
    line-height: 18px;
  }
  
  .countries {
    grid-row: 1 / span 2;
  }
  
  .cities {
    grid-column: 2;
  }
   */


/* body stylings */
body {
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    margin: 0;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column ;
}

/* footer related stylings */
footer {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    margin-top: auto;
    color: white;
}

section {
    border: 1px solid #565656;
    width: 250px;
    /* min-height: 68px; */
    padding: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 20px; 
}

#contact-link a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#contact-link a:hover {
    color:#57aee5;
}

#contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#contact-page > p {
    font-size: 20px;
}

#contact-banner {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('images/markus-spiske-iar-afB0QQw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top top;
}

#contact-name-wrapper {
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    text-shadow: 
    1px 0px 1px #565656, 0px 1px 5px #000000;
    font-size: 50px;
}

#email-me-button {
    border-radius: 15px;
    border: none;
    background-color: #57aee5;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    width: 130px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

#email-me-button:hover {
    background-color: #3b799f;
    /* box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    
}

/* font, stylings */
span {
    size: 12px;
    content
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
}



.welcome-message {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    text-shadow: 
    1px 0px 1px #565656, 0px 1px 5px #000000;
}

.content {
    width: 210px
    
}

.content ol {
    /* list-style: none; */
    display: inline-block;
    margin: 0 20px;
    color: black;
    font-family: "Helvetica", arial, sans-serif; 
    font-size: 14px;
    position: relative;
    padding-left: 0;
    padding-bottom: 10px;
}

.content li {
    margin-bottom: 5px;
}


/* buttons stylings */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    color: #aab8c2;
}

.buttons i {
    width: 80px;
}

input, select, button {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.trash-button {
    display: contents;
    font-size: 65%;
    color: red;
}

.trash-button:hover, .edit-button:hover, .view-button:hover {
    cursor: pointer;
    color: grey;
}

.edit-button {
    display: contents;
    font-size: 65%;
    color: #57aee5;
}

.view-button {
    display: contents;
    font-size: 65%;
    color: #57aee5;
}

#submit {
    border-radius: 15px;
    border: none;
    background-color: #57aee5;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    
}


#submit:hover {
    background-color: #3b799f;
    /* box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    
}

.delete-form {
    display: inline;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    /* text-shadow: 1px 0px 1px #848383, 0px 1px 1px #959595; */
    font-weight: bold;
    cursor: pointer;
    background: transparent;
}

button:hover {
    background: #57aee5;
}

/* menu stylings */
.logo {
    float: left;
    width: 150px;
    height: auto;
}

.nav-options {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: grey;
    color: white;
    margin: 0;
}

.menu li a {    
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li a:visited:hover {
    color: lightblue;
    
}


.menu li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: white;
    font-family: "Helvetica", arial, sans-serif; 
    font-size: 14px;
    position: relative;
}

.menu li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #57aee5;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.menu li:hover::after {
    width: 100%;
}

/* icon stylings */
.fa.fa-location-dot {
    color: rgb(240, 128, 128);
    display: contents;
}

.fa-solid,
.fa-square-check {
    display: contents;
    margin-left: 10px;
    color: black;
}

.fa-solid,
.fa-xmark {
    display: contents;
    margin-left: 10px;
    color: black;
}

/* image stylings */
.home-image {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('images/xx-liu-1LP0OXRXV6o-unsplash copy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    z-index: -1;
    position: relative;
}  

.country-name-wrapper {
    /* width: 100%; */
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    text-shadow: 
    1px 0px 1px #565656, 0px 1px 3px #000000;
    font-size: 50px;
}

.country-banner {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: 30vh;
    background-image: url('images/nils-nedel-ONpGBpns3cs-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top top;

}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    #home-image {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}
/* country and city stylings */
.countries-cities {
    border: 1px solid #565656;
    border-radius: 10px;
    width: 220px;
    min-height: 68px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
    text-align: center;
    line-height: 18px;
    margin-top: 50px;
}

.countries {
    border: 1px solid #565656;
    border-radius: 10px;
    width: 220px;
    min-height: 68px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    line-height: 18px;
    margin-top: 50px;
}

.cities {
    border: 1px solid #565656;
    border-radius: 10px;
    width: 220px;
    min-height: 68px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    line-height: 18px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.country-wrapper {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 1000px;
}

.list_of_cities {
    color: black;
}

.add-wrapper {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.add-wrapper > h1 {
    text-align: center;
    
}

.add-wrapper button {
    text-align: center;
}


.add-wrapper-cities {
    width: 70%;
    margin-top: 30px;
}

.add-wrapper-cities > h1 {
    text-align: center;    
}

.add-wrapper-cities button {
    text-align: center;
}

.city-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
}
